:root {
    --lighter: #313244;
    --bg: #1e1e2e;
    --darker: #181825;
    --darkest: #11111b;
    --primary: #cba6f7;
    --secondary: #f5c2e7;
    --text: #cdd6f4;
    --darktext: #313244;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #CDD6F4;
}

body {
    background-color: #1E1E2E;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
	text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    color: #cba6f7;
    font-size: 3.2rem;
    letter-spacing: -3px;
	padding-top: 20px;
    padding-bottom: 20px;
}

.menu {
    background-color: #181825;
    border-radius: 10px;
    height: 390px;
    width: 355px;
    box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.2);
}

.lang {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    background-color: #31324400;
    transition: background-color 250ms;
}

.text {
    padding: 15px;
    font-size: 1.6rem;
}

.lang:hover {
    background-color: #313244;
}