@import url('https://fonts.googleapis.com/css?family=Ubuntu:700|Ubuntu:400');

:root {
  --dividers: #0e1821;
  --disabled: #1f354d;
  --text: #e2eaf3;
  --lighter-bg: #162534;
  --background: #060a0e;
  --darker-bg: #010203;
  --primary: #7d7bc6;
  --secondary: #22142e;
  --accent: #8a57b7;
}

body {
  font-family: 'Ubuntu';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 5.652rem; /* 90.4px */}

h2 {font-size: 3.997rem; /* 64px */}

h3 {font-size: 2.827rem; /* 45.28px */}

h4 {font-size: 1.999rem; /* 32px */}

h5 {font-size: 1.414rem; /* 22.56px */}

small {font-size: 0.707rem; /* 11.36px */}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
}

body {
    background-color: var(--background);
    height: 100vh;
    display: flex;
    flex-direction: column;
	  text-align: center;
    overflow-x: hidden;
}

nav {
    display: flex;
    padding: 0px 0px;
    height: 60px;
    background-color: var(--darker-bg);
    justify-content: left;
}

img {
    max-width:100%;
    max-height:100%;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
}

.place-img {
  width: 100%;
  height: auto;
  margin: 3px;
}

@media only screen and (max-width: 626px) {
  .navbar {
    display: none;
  }

  .logo-pic {
    display: none;
  }
}

@media only screen and (min-width: 626px) {
  .menu-dropdown {
    display: none;
  }

  .smol-navbar {
    display: none;
  }
}

#smol-navbar {
  display: none;
  background-color: var(--darker-bg);
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  white-space: nowrap;
}

.nav-text {
	display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  text-decoration: none;
  color: var(--text);
  font-size: 1.3rem;
  padding: 1rem;
  display: inline-block;
}

.nav-text::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--text);
    display: block;
    transition: width 0.5s ease;
}
  
.nav-text:hover::after {
    width: 100%;
}

h1{
    margin-top: 20px;
    color: var(--primary);
    font-size: 3.7rem;
    letter-spacing: -3px;
	  padding-top: 15px;
    padding-bottom: 20px;
}

h2{
  color: var(--text);
  font-size: 1.5rem;
  letter-spacing: -1px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-top: 20px;
}

p {
	font-size: 1.2rem;
	padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}

.limit-width {
  width: 90%;
}

@media only screen and (min-width: 726px) {
  .row {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
  }
}

.column {
  width: 100%;
  margin: 4px;
}

hr {
  margin-top: 10px;
  height: 2px;
  border: none; 
  background: var(--dividers);
  width: 100%;
  margin-bottom: 5px;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

th {
  padding-left: 8px;
  padding-top: 5px;
}

.button-dis {
  display: flex;
  justify-content: center;
  border-radius: 4%/12%;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(114,114,114,114);
  text-decoration: none;
  margin-top: 10px;
  border: 2px solid var(--text);
  scale: 1;
  transition: background-color, scale 250ms;
  margin-left: 7px;
  margin-right: 7px;
  opacity: 15%;
}

.button {
  display: flex;
  justify-content: center;
  background-color: var(--accent);
  border-radius: 4%/12%;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  text-decoration: none;
  margin-top: 10px;
  border: 2px solid var(--text);
  scale: 1;
  transition: background-color, scale 250ms;
  margin-left: 7px;
  margin-right: 7px;
}

.button:hover {
  background-color: var(--accent);
  cursor: pointer;
  scale: 1.1;
}

.button-group {
  display: flex;
  justify-content: center;
}

.darker-font {
  color: var(--disabled);
  margin-bottom: 40px;
}

footer {
  margin-top: 50px;
  background-color: var(--darker-bg);
}